@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

#home-learning {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

#home-learning a {
    color: dodgerblue;
    text-decoration: none;
}

#home-learning pre {
    font-family: monospace;
    white-space: nowrap;
    line-height: 1.19em;
}

#home-learning ul {
    list-style-type: none;
}

#home-learning .fa-folder-open {
    color: slategray;
}

#home-learning .fa-file-pdf {
    color: darkgray;
}

#sha {
    background-color: #f1f8ff;
    border-radius: 3px;
    border: 1px #0366d6 solid;
    font-family: 'Roboto Mono', monospace;

    padding: 16px;
}

#shabad {
    background-color: #ffdce0;
    border-radius: 3px;
    border: 1px #d73a49 solid;
    font-family: 'Roboto Mono', monospace;

    padding: 16px;
}

@keyframes breatheAnimation {
    0%   { opacity: 1; }
    20%  { opacity: 0; }
    40%  { opacity: 1; }
}
@-o-keyframes breatheAnimation {
    0%   { opacity: 1; }
    20%  { opacity: 0; }
    40%  { opacity: 1; }
}
@-moz-keyframes breatheAnimation {
    0%   { opacity: 1; }
    20%  { opacity: 0; }
    40%  { opacity: 1; }
}
@-webkit-keyframes breatheAnimation {
    0%   { opacity: 1; }
    20%  { opacity: 0; }
    40%  { opacity: 1; }
}

#update {
    -webkit-animation: breatheAnimation 3s infinite;
    -moz-animation: breatheAnimation 3s infinite;
    -o-animation: breatheAnimation 3s infinite;
    animation: breatheAnimation 3s infinite;
}
